/* General */
body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    padding-top: 110px;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

h1, h2, h3, .blockade-header h1 {
    font-family: 'Russo One', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
}

h1 {
    font-size: 4rem;
    margin-bottom: 20px;
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 15px;
}

h3 {
    font-size: 2rem;
    margin-bottom: 10px;
}

p {
    font-size: 1.2rem;
    line-height: 1.8;
}

main {
    flex: 1;
}

footer {
    text-align: center;
    padding: 20px;
    font-size: 14px;
    background-color: #7A170D;
    color: white;
}

/* Nav bar */
.header {
    background-color: #f4f4f4;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
}

nav.navbar {
    background-color: #7A170D;
    display: flex;
    align-items: center;
    padding: 20px 40px;
    height: 70px;
    transition: background-color 0.3s ease;
}

nav .logo img {
    height: 150px;
    width: auto;
    margin-right: 40px;
    transition: filter 0.3s ease;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 35px;
    font-family: 'Russo One', sans-serif;
    font-weight: 400;
    padding: 12px 18px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.nav-links li a:hover,
.nav-links li a.active {
    background-color: #DC6341;
    color: white;
}

.header.scrolled nav.navbar {
    background-color: transparent;
}

.header.scrolled .nav-links {
    opacity: 0;
}

.header.scrolled:hover nav.navbar {
    background-color: #7A170D;
}

.header.scrolled:hover .nav-links {
    opacity: 1;
}



